<footer>
    Created By {{ site.creator }}</br>
 <a href="what">What is {{ site.shortname }}?</a>
 <a href="updatelog">Update Log</a>
 <a href="http://ctt.ec/2Bofm">Tweet Us!</a>
 <a href="http://twitter.com/TRBMBPhraseGen">Twitter Bot</a><br/>
 <a class="github-button" href="https://github.com/{{ site.repourl }}" data-icon="octicon-star" data-count-href="/{{ site.repourl }}/stargazers" data-count-api="/repos/{{ site.repourl }}#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star this on GitHub">Star</a>
</footer>
